{% extends 'layout.html' %}
{% block title %} Terms{% endblock %}
{% block content %}
<div class="container text-justify">
	<div class="row">
		<h1>Políticas de cancelación</h1>
		<p class="pontano-16">
		Si selecciona RESERVAR deberá llegar a BackStage cuarenta y cinco minutos antes de que comience el show y pagar sus boletos en taquilla. En caso contrario su orden de reservación será cancelada.
</p>
	<p class="pontano-16">
Si selecciona PAGAR, al completar su pago de boletos para cualquier show de BackStage, el cargo a su tarjeta de crédito o débito será instantáneo al momento de generar la clave de pago correspondiente. Una vez emitida dicha clave existen las siguientes restricciones:
</p>
	<p class="pontano-16">
•	No habrá cancelaciones.
•	Una vez realizados los cargos a su tarjeta, estos no son reembolsables.
•	Todo boleto pagado deberá ser recogido el día y en el horario del show correspondiente. Para poder recoger los boletos es necesario que el titular presente la tarjeta de crédito con la que se hizo la compra y una identificación en taquilla. Se recomienda estar al menos 30 minutos antes del comienzo de la función. 
•	Todos los cambios en la fecha y horario del show generan cargos extra y están sujetos a disponibilidad.
</p>
	<p class="pontano-16">
Cambios de fecha y hora<br>

Si necesita cambiar la fecha de su reservación por favor comuníquese con nosotros. Todos los cambios están sujetos a disponibilidad. Entre mayor sea la anticipación con que solicite el cambio, mayor será la posibilidad de encontrar lugares disponibles en otra fecha.
</p>
	<p class="pontano-16">
El cargo adicional por cambio será de 100.00  pesos por cada uno de los boletos que se deseen modificar.<br>

Para cambios llamar por favor al:  (52) (998) 287 - 5959<br>
</p>
	<p class="pontano-16">
Horario de atención:<br>
-	De 9:00 a 19:00 hrs. de lunes a viernes
</p>
	<p class="pontano-16">
Tenga a la mano los siguientes datos
-	Nombre de la persona que hizo el pago<br>
-	Fecha y horario del show pagado<br>
-	Clave de confirmación<br>
</p>
	<p class="pontano-16">
Su solicitud será atendida y si cumple con las políticas de cambio este se realizará de acuerdo a la disponibilidad para la nueva fecha solicitada.

		</p>	
	</div>
</div>
{% endblock %}
